<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page 3</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h2><b>Globally Inspired Pizza</b></h2>
    <h3><i>"Internationally loved Pie"</i></h3>
    <div class="separate">
        <ul>
            <li>America</li>
            <li>Canada</li>
            <li>Japan</li>
        </ul>
        <p>All of these places and many more have grown to love pizza and it's many shapes and sizes.
        Many of the best pizza you can find globally many feel can't be compared to the original source,
        but there are many places that beg to differ. Each coming with their own unique twist and spin on pizza.
        Here are some of the best place delicious pizza can be found in the West:
        </p>
    </div>
    <div class="separate">
        <ol>
            <li>Houston's Bollo Woodfired Pizza</li>
            <li>Capo's Pizza in San Francisco</li>
            <li>Denver's Cart-Driver</li>
            <li>Double Zero in Atlanta.</li>
            <li>Frank Pepe's Pizzeria Napoletana</li>
            <li>....and many many more!</li>
        </ol>
    </div>
    <br>
    <br>
    <a href="main.html">Front Page</a>
    <a href="page2.html">Page 3</a>
    <br>
    <p>There are still many more places to see that have some of the most wonderful pizza in the world. From the East
    to the West, pizza is being reinvented constantly for our consumption and pleasure. If you don't consider yourself
    a fan of pizza, it's never too late to start as there are types for everyone! See the link below for more
    amazing pizza in America and where to find them!</p>
    <a href="https://www.gayot.com/restaurants/top-best-pizza-in-the-usa.html">USA's best Pizza</a>
    <br>
    <br>
    <p>Today's date is {{date}}, also known as PIZZA-TIME!</p>

</body>
</html>
